<div class="background">
  <div class="container">
    <div class="logForm">
      <div class="startupBox">
        <p>Workout History</p>
      </div>
      <div class="frame">
        <div
          class="history-container"
          *ngFor="let workout of completedWorkouts"
        >
          <p class="history-property">
            <span class="history-type">Workout:</span>
            {{ workout.workoutName }}
          </p>
          <p class="history-property">
            <span class="history-type">Completion Date:</span>
            {{ formatDate(workout.completionDate) }}
          </p>
          <p class="history-property">
            <span class="history-type">Training Id:</span>
            {{ workout.id }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
